@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $body-bg;
  color: $text-color;
  font-family: $font;
  font-size: 3.2rem;
  line-height: 3.2rem;
}