@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

$body-bg: #041562;
$main-color: #11468F;
$secondary-color: #5D8BF4;
$text-color: white;
$font-fredoka: "Fredoka One",
sans-serif;
$font-poppins: "Poppins",
sans-serif;
$fz-xxs: 1.2rem;
$fz-xs: 1.3rem;
$fz-sm: 1.4rem;
$fz-md: 1.6rem;
$fz-lg: 1.8rem;